*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Helvetica';
    src: url(Helvetica-BoldOblique.ttf);
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-border{
        height: 400px;
        width: 300px;
        background: linear-gradient(to bottom , #E0B10B,#8F7626,#524415);
        padding: 8px;
}

.card{
    height: 400px;
    width: 300px;
    background-image: url(card_bg.jfif);
    background-size: cover;
}
.name{
    display: flex;
    justify-content: center;
}


.name_text{
    color: #BEBEBE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(88, 24, 88);
    padding: 0px 20px;
    border-radius: 15px;
}
.rank{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.rankName{
    background-color: rgb(16, 16, 63);
    color: #8F7626;
    padding: 0px 10px;
    border-radius: 15px;
}

.chac-quote{
    padding-top: 5px;
    text-align: center;
    font-family: 'Helvetica';
    letter-spacing: 1px;
    color: rgb(231, 221, 221);
}

.heading{
    display: flex;
    justify-content: center;
}
.character-image{
    height: 120px;
    width: 120px;
    border:1px solid white;
    border-radius: 15px;
    background-image: url(vin_img_4.jpg) ;
    background-size: cover;
}

.chac-img-border{
    height: 120px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 8px;
}


